<div class="about flex flex-col justify-center items-center h-screen text-md text-slate-500 mt-10 p-2 ">
    <!-- <p class="mb-5 intro-text show">get to know more</p> -->

  <p class=" font-sans text-sm font-medium text-slate-400">Get to Know More</p>
    <p class="text-4xl font-extrabold text-slate-600 md:p-4 sm:p-2">About Me</p>
    <div class="flex md:flex md:justify-center sm:block main-container ">
        <img src="../../../assets/imgs/undraw_hello_re_3evm.svg" alt="" class="lg:w-[620px] md:w-[440px]  ">
        <div class="about_info p-5 sm:p-2 flex flex-col justify-center">
            <p class="text-md sm:text-sm sm:mt-2">INTRODUCTION</p>
            <h1 class="text-3xl font-bold pt-2 pb-2">Overview.</h1>
            <p class="w-[65%] md:w-[80%] sm:w-[100%]">I'm a skilled software developer with experience in JavaScript, and expertise in frameworks like React, Angular and Three.js. I'm a quick learner and collaborate closely with clients to create efficient, scalable, and user-friendly solutions that solve real-world problems.</p>
        </div>
    </div>
</div>



<!-- <div class="about flex flex-col justify-center items-center h-screen text-md text-slate-500 mt-10 p-2">
    <h1 class="text-4xl font-extrabold text-slate-600 md:p-4 sm:p-2">About Me</h1>
    <div class="flex flex-col md:flex-row md:justify-center sm:block container">
      <img src="../../../assets/imgs/undraw_hello_re_3evm.svg" alt="" class="lg:w-[620px] md:w-[440px] w-full sm:w-full mb-4 md:mb-0">
      <div class="about_info p-5 sm:p-2 flex flex-col justify-center">
        <p class="text-md sm:text-sm sm:mt-2">INTRODUCTION</p>
        <h1 class="text-3xl font-bold pt-2 pb-2">Overview.</h1>
        <p class="w-full md:w-[70%] sm:w-full">I'm a skilled software developer with experience in JavaScript, and expertise in frameworks like React, Angular and Three.js. I'm a quick learner and collaborate closely with clients to create efficient, scalable, and user-friendly solutions that solve real-world problems.</p>
      </div>
    </div>
  </div>
  
  <div class="projects flex justify-start items-center p-5">
    <h1 class="text-xl font-bold">Projects</h1>
  </div> -->
  