.about {
  height: 100vh; /* Full viewport height */
}
.about_info {
  margin-left: 12px;
}

@media screen and (min-width: 270px) and (max-width: 641px) {
  .about {
    display: flex;
  }

  .main-container {
    display: block;
    .about_info {
      p {
        width: 100%;
      }
    }
  }
}
