
.menu-icon{
    display: none;
}
@media screen and (min-width: 270px) and (max-width: 640px) {
    .logo{
        display: flex;
        justify-content: start;
        font-size: 22px;
    }
    .nav-items{
        display: none;
    }
    .menu-icon{
        display: contents;
    }
}